
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Navbar Styling */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    padding: 15px 20px;
}

.navbar .logo {
    color: black;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: gray;
    text-decoration: none;
    font-size: 16px;
}

.nav-links a:hover {
    color: #f4a261;
}

.search-container {
    display: flex;
    align-items: center;
}

.search-container input {
    padding: 8px;
    border: 1px solid gray;
    border-radius: 5px;
    /* outline: none; */
}
.search-container input:hover{
    background-color: rgb(240, 238, 238);
    color: black;
}

.search-container button {
    padding: 8px 12px;
    border: 2px solid;
    background: white;
    color: black;
    margin-left: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.search-container button:hover {
    background: black;
    color: white;
}

.menu-icon {
    display: none;
    font-size: 22px;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        text-align: center;
    }

    .nav-links {
        flex-direction: column;
        margin-top: 10px;
    }

    .nav-links li {
        margin: 10px 0;
    }

    .search-container {
        margin-top: 10px;
    }
}



